.fixtures {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #99BC85;
    padding: 2em;
    color: black;
    animation-name: slide-in;
    animation-duration: 3s;
}

@keyframes slide-in {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
}

.fixtures h1 {
    padding-bottom: 1em;
}


.fixtures table {
    border-collapse: collapse;
    max-width: 100em;
}

.fixtures th, .fixtures td {
    border: 1px solid #ddd;
    padding: 8px;
}

.fixtures thead {
    background-color: black;
    color: white;
}

.fixtures td:nth-child(2) {
    width: 400px;
    text-align: end;
}

.fixtures td:nth-child(4) {
    width: 400px;
    text-align: left;
}

.fixtures td:nth-child(5) {
    width: 120px;
    text-align: center;
}

.fixtures td:nth-child(1), .fixtures td:nth-child(3), .fixtures td:nth-child(6), .fixtures td:nth-child(7), .fixtures td:nth-child(8), .fixtures td:nth-child(9) {
    width: 120px;
    text-align: center;
}

.fixtures tbody tr:hover {
    background-color: #faf0e6;
    transition: ease-in 0.4s;
}


