.standings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #99BC85;
    padding: 2em;
    color: black;
    animation-name: slide-in;
    animation-duration: 3s;
}

@keyframes slide-in {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
}

.standings h1 {
    text-align: center;
    margin-bottom: 1em;
}

.standings table {
    border-collapse: collapse;
    width: 80%;
}

.standings th, .standings td {
    border: 1px solid #ddd;
    padding: 8px;
}

.standings thead {
    background-color: black;
    color: white;
}

.standings td:nth-child(1) {
    width: 1%;
}

.standings td:nth-child(2) {
    width: 30%;
}

.standings td:nth-child(4) {
    width: 25%;
    text-align: center;
}

.standings td:nth-child(1), td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(7),td:nth-child(8), td:nth-child(9) {
    width: 60px;
    text-align: center;
}


