.hall-of-fame {
    padding: 1em;
    border-collapse: collapse;
}
.hall-of-fame-table h1 {
    text-align: center;
    background-color: #99BC85;
    padding: 1em;
}
.hall-of-fame thead {
    background-color: #639645;
}

.hall-of-fame thead th {
    padding: 10px;
    color: white;
}

.hall-of-fame th {
    width: 250px;
}

.hall-of-fame tbody {
    margin-top: 0.5em;
    font-size: 14px;
}

.hall-of-fame td {
    padding: 0.2em 1em;
    text-align: center;
    border: 1px solid black;
}

.fastest-goal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #99BC85;
    padding: 3em;
}

.fastest-goal h1 {
    margin-bottom: 1em;
}

.fastest-goal p {
    margin-bottom: 1em;
}

.hall-of-fame-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 2em;
}

.hall-of-fame-container h1 {
    margin-bottom: 2em;
}

.hall-of-fame-container img {
    width: 400px;
    border-radius: 2em;
}

.hall-of-fame-container div div {
    flex: 0 0 30%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 30px #00563b83;
    padding: 1em;
    background-color: transparent;
    border-radius: 2em;
    margin-bottom: 2em;
    padding: 2em;
}

.hall-of-fame-container div div h4 {
    margin-bottom: 1em;
}

.hall-of-fame-container div div hr {
    margin-bottom: 1em;
}

.hallOfFame-logo-name {
    text-align: center;
}

.hallOfFame-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hallOfFame-team-logo {
    margin-top: 10px;
    width: 40px;
    height: auto;
}

@keyframes dropAnimation {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-drop {
    animation: dropAnimation 0.8s ease-out forwards;
}


.hall-of-fame td span {
    transition: transform 0.3s ease;
}

.hall-of-fame td:hover span {
    transform: scale(1.2);
}
