.heading {
    background-color: #99BC85;
    padding: 1em;
    margin-top: 1em;
    text-align: center;
    vertical-align: middle;
}

.heading h1 {
    margin-bottom: 1em;
}

.nakazaniq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    gap: 5em;
    padding: 0em 3em;
}

.forbidden {
    background-color: #99BC85;
    text-align: center;
    margin-top: 1em;
    padding: 2em;
}

.forbidden-players {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}