.results {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    background-color: #007854;
    padding: 2em;
    color: white;
}

.results table {
    border-collapse: collapse;
}

.results th, .results td {
    border: 1px solid #ddd;
    padding: 8px;
}

.results thead {
    background-color: black;
    color: white;
}

.results td:nth-child(2) {
    width: 300px;
    text-align: end;
}

.results td:nth-child(4) {
    width: 300px;
    text-align: left;
}

.results td:nth-child(5) {
    width: 200px;
    text-align: center;
}

.results td:nth-child(1), .results td:nth-child(3), .results td:nth-child(6), .results td:nth-child(7), .results td:nth-child(8), .results td:nth-child(9) {
    width: 120px;
    text-align: center;
}



