* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    max-width: 100%;
    margin: 0 auto;
}

/* Side header styles */
.side-header {
    display: flex;
    position: fixed;
    flex-direction: column;
    gap: 1.5em;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    width: 8em;
    padding: 1em;
    height: 100vh;
}

.side-header .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out;
}

.side-header .overlay img {
    width: 4em;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.side-header .overlay h1 {
    opacity: 0;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    transition: opacity 0.4s ease-in-out;
}

.side-header .overlay:hover img {
    width: 5em;
    height: auto;
}

.side-header .overlay:hover h1 {
    opacity: 1;
}

.main-content {
    margin-left: 8em; 
    padding: 1em;
    flex: 1;
}

/* Main table styles */
.main-table {
    margin-top: 10px;
    font-size: 15px;
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.main-table h1 {
    text-transform: uppercase;
    margin-bottom: 1em;
    color: #00563B;
}

.main-table table {
    border-spacing: 0;
    width: 100%; 
    margin-bottom: 1em;
}

.main-table thead {
    background-color: lightgrey;
}

.main-table th {
    padding: 1em;
}

.main-table td, .main-table th {
    border: 1px solid #00563B;
    text-align: center;
    padding: 0.2em;
}

.main-table table img {
    width: 40px;
    height: 50px;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0 5px;
    padding: 4px 10px;
    border: 1px solid #00563B;
    color: black; 
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #00563B;
    color: white;
}

.pagination button.active {
    background-color: #00563B;
    color: white;
}

/* Table players */

.table-players td:nth-child(1) {
    width: 10px;
}

.table-players th:nth-child(2) {
    width: 5px;
}

.table-players th:nth-child(3) {
    width: 250px;
}

.table-players td:nth-child(4) {
    width: 150px;
}

.table-players th:nth-child(5) {
    width: 500px;
}

/* Table teams */

.table-teams th:nth-child(1) {
    width: 30px;
}

.table-teams th:nth-child(2) {
    width: 300px;
}

.table-teams td:nth-child(3) img {
    width: 100px;
    text-align: center;
}

/* Table staff */

.table-staff td {
    width: 20em;
    padding: 1em;
}

/* Table managers */

.table-managers td:nth-child(2) {
    width: 200px;
}

/* Table matches */

.table-matches td {
    padding: 1em;
}

.table-matches td:nth-child(1) {
    width: 100px;
}

.table-matches td:nth-child(2) {
    width: 150px;
}

.table-matches td:nth-child(4) {
    width: 150px;
}


/* Input form */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.input-form {
    background-color: rgba(0, 0, 0, 0.615);
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    width: 40em;
    margin: 2em 0.5em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-form h3 {
    text-align: center;
    margin-bottom: 1.5em;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    color: #333;
    color: white;
}

.input-form label {
    display: block;
    margin-bottom: 1em;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: white;
}

.input-form label span {
    color: red;
    margin-left: 4px;
}

.input-form label input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 1em;
}

.input-form .file-input-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.input-form .file-input {
    display: none;
}

.input-form .custom-file-label {
    display: block;
    padding: 0.5em 1em;
    background-color: #00563B;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 1em;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.input-form .file-name {
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: white;
    margin-top: -15px;
}

.input-form button {
    display: block;
    width: 100%;
    padding: 0.7em;
    margin-top: 1em;
    background-color: #00563B;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-form button:hover{
    background-color: #1aae7f;
}

.input-form .custom-file-label:hover {
    background-color: #1aae7f;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}





/* Stats styles */

.container-all-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.container-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15em;
    padding: 1em 2em;
    border-radius: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-stats:nth-child(1) {
    background-color: #F2C18D;
}

.container-stats:nth-child(2) {
    background-color: #F6F193;
}

.container-stats:nth-child(3) {
    background-color: #C5EBAA;
}

.container-stats:nth-child(4) {
    background-color: #DFCCFB;
}

.container-stats:nth-child(5) {
    background-color: #a9ebf6;
}

.container-stats-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.container-stats-image img {
    width: 4em;
}

.container-stats-stats {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.container-stats:nth-child(1) .container-stats-image {
    background-color: #D4A76A;
}

.container-stats:nth-child(2) .container-stats-image {
    background-color: #D6D36B;
}

.container-stats:nth-child(3) .container-stats-image {
    background-color: #A5C084;
}

.container-stats:nth-child(4) .container-stats-image {
    background-color: #CBB8E7;
}

.container-stats:nth-child(5) .container-stats-image {
    background-color: #81C1CC;
}

.container-stats-stats p:nth-child(1){
    font-size: 20px;
}

.container-stats-stats p:nth-child(2){
    text-transform: uppercase;
    font-size: 15px;
}


/* Dropdown styles */

.main-dropdown-container {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.dropdown-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-name {
    cursor: pointer;
    background-color: #00563B;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    min-width: 200px;
}

.dropdown-options ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    z-index: 1;
    margin: 1px 0 0 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-container:hover .dropdown-options ul {
    display: block;
}

.dropdown-options ul li {
    padding: 12px 16px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: left;
    border-bottom: 1px solid #00563B;
}

.dropdown-options ul li:hover {
    background-color: #C5EBAA;
}


