.side-header {
    display: flex;
    flex-direction: column;
    gap: 4em;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 100vh;
}

.side-header .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out;
}

.side-header .overlay img {
    width: 4em;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.side-header .overlay h1 {
    opacity: 0;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    transition: opacity 0.4s ease-in-out;
}

.side-header .overlay:hover img {
    width: 5em;
    height: auto;
}

.side-header .overlay:hover h1 {
    opacity: 1;
}

.main {
    display: flex;
}

.main-table {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-table table {
    border-spacing: 0;
}

.main-table thead {
    background-color: lightgrey;
}

.main-table th {
    padding: 1em;
}

.main-table td, .main-table th {
    border: 1px solid #00563B;
    text-align: center;
}

.main-table img {
    width: 40px;
    height: auto;
}

.pagination {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0 5px;
    padding: 4px 10px;
    border: 1px solid #00563B;
    color: black; 
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #00563B;
    color: white;
}

.pagination button.active {
    background-color: #00563B;
    color: white;
}

.table-players th:nth-child(1) {
    width: 30px;
}

.table-players th:nth-child(2) {
    width: 10px;
}

.table-players th:nth-child(3) {
    width: 250px;
}

.table-players th:nth-child(4) {
    width: 50px;
}

.table-players th:nth-child(5) {
    width: 500px;
}

.table-teams th:nth-child(1) {
    width: 30px;
}

.table-teams th:nth-child(2) {
    width: 300px;
}

.table-teams td:nth-child(3) img {
    width: 100px;
    text-align: center;
}


