.holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    padding: 2em;
    margin-top: 3em;
    background-color: #99BC85;
}

.signIn,
.contact,
.address {
    max-width: 20em;
    text-align: center;
}

.signIn > h1,
.contact > h1,
.address > h1 {
    margin-top: 30px;
    padding-bottom: 1em;
    text-align: center;
}

.signIn > a {
    color: white;
}

.signIn > p {
    margin: 20px 0px;
}

.signIn > span {
    color: white;
}

.address > p {
    margin-bottom: 20px;
}

.contact > p {
    margin-bottom: 10px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}