.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding: 3em;
}

.contact h1 {
    border-bottom: 2px solid #00563B;
    padding: 0em 1em 0.5em 1em;
}

.contact a {
    color: #00563B;
    margin-top: 3em;
}

.contact p {
    margin-top: 2em;
}

.contact span {
    color: #00563B;
    font-weight: bold;
    margin-top: 1em;
}