.award-heading {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.award-heading h1 p {
    margin-bottom: 2em;
}

.award-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em;
}

.card {
    display: flex;
    flex: 0 0 30%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 30px #00563b83;
    padding: 1em;
    background-color: transparent;
    border-radius: 2em;
    margin: 1em;
    background-color: #75a576;
    color: whitesmoke; 
    font-size: 20px;
    
}

.card img {
    width: 300px;
    height: auto;
    border-radius: 1em;
}

.card p {
    margin: 0 auto;
    text-align: center;
    writing-mode: vertical-lr;
    letter-spacing: 2px;
    margin-right: 2em;
}